<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Menu</title>
</head>
<body>
    <h1>Restaurant Menu</h1>
    {% for category_name, meal_list in meals %}
        <h2>{{ category_name }}</h2>
        {% for meal in meal_list %}
            {% if meal.status == 0 %}
            <a href="{% url 'menu_item' meal.pk%}"><h3><del>{{ meal.meal }}</del></h3></a>
            <p>{{ meal.ingredients }}</p>
            {% else %}
            <a href="{% url 'menu_item' meal.pk%}"><h3>{{ meal.meal }}</h3></a>
            <p>{{ meal.ingredients }}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>